/*
*    Estilos para M framework
*
*/


/*============*\
    Header
\*============*/

header
	background-color $midnightblue
	color $blanco

.menu
	li
		a
			color $blanco
			
			&:hover 
				color $peterriver