/*
*    Los colores fueron sacados de: http://flatuicolors.com/
*    Breakpoints basados en em's
*
*
*
*    Variables Base
*
*    Colores _______________ $colores
*    Breakpoints ___________ $bp
*
*/




/*============*\
    $colores
\*============*/

// Flat colors
$turquoise = #1abc9c
$greensea = #16a085
$emerald = #2ecc71
$nephritis = #27ae60
$peterriver = #3498db
$belizehole = #2980b9
$amethyst = #9b59b6
$wisteria = #8e44ad
$wetasphalt = #34495e
$midnightblue = #2c3e50
$sunflower = #f1c40f
$orange = #f39c12
$carrot = #e67e22
$pumpkin = #d35400
$alizarin = #e74c3c
$pomegranate = #c0392b
$clouds = #ecf0f1
$silver = #bdc3c7
$concrete = #95a5a6
$asbestos = #7f8c8d

// Basic Colors

$blanco = #ffffff
$negro = #1e1e1e




/*============*\
    $bp
\*============*/

$bp0 = 2.72em    // 320px
$bp1 = 30em      // 480px
$bp2 = 37.5em    // 600px
$bp3 = 48em      // 768px
$bp4 = 56.25em   // 900px
$bp5 = 68.75em   // 1100px
